{% load static %}

<!-- ================================
    Start Footer
    ================================= -->
<footer>
    <div class="footerCol">
        <div class="container">
            <ul class="socialCol">
                <li><a class="socialIc" href="https://www.facebook.com/profile.php?id=100055492608977"><i
                            class="fa-brands fa-facebook"></i></a></li>
                <li><a class="socialIc" href="https://github.com/nhanna1219"><i class="fa-brands fa-github"></i></a>
                </li>
                <li><a class="socialIc" href="javascript:void(0)"><i class="fa-brands fa-square-twitter"></i></a></li>
                <li><a class="socialIc" href="javascript:void(0)"><i class="fa-brands fa-linkedin"></i></a></li>
                <li>
                    <p class="description"><i class="fa-regular fa-copyright"></i>&nbsp;This template
                        adapted from "Did Coding - Free resume template" by <a
                            href="https://github.com/bobby-didcoding">Daniel Ramirez</a>. Modified by
                        <a href="{% url 'main:home'%}">me</a>.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- ================================
      End Footer
      ================================= -->